$text: #121212f1;
// ANCHOR TAG DEFAULT
$a: #121212f1;

//SCROLLBAR HIDE
*::-webkit-scrollbar {
  width: 0.4rem;
}

*::-webkit-scrollbar-track {
  background: #e2e2e2;
}

*::-webkit-scrollbar-thumb {
  background: #9c8787;
  border-radius: 1rem;
}

*::-webkit-scrollbar-thumb:hover {
  background: #806e6e;
}

// ROOT CLASSES

a {
  color: $a;
  text-decoration: none;
}

// VARIABLES
@import "var";
@import "mixin";
